body {
    background-color: #121212; /* dark background */
    color: white; /* white text color */
    font-family: Arial, sans-serif; /* modern font */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
button {
    background-color: #6200EE; /* purple accent color */
    border: none;
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    transition: background-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
}
button:hover {
    background-color: #3700B3; /* darker purple on hover */
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.24), 0 8px 24px 0 rgba(0,0,0,0.19);
}
.warning {
    margin-top: 20px;
    color: #FFC107; /* warning color */
    text-align: center;
}
